@model IEnumerable<MVCepam.Domain.Review>

    <section class="container-fluid">
        @foreach (var review in Model)
        {
            <div class="media">
                <div>@review.Name</div>
                <div>@review.PublishTime</div>
                <div>
                    @review.Text
                </div>
            </div>
        }
        <h3>
            Написать отзыв
        </h3>
        @using (Html.BeginForm("GuestBoard", "Guest", FormMethod.Post))
        { 
            <div class="form-group">
                <input class="form-control" name="commentAuthorName" type="text" placeholder="Ваше имя" required />
                <textarea class="form-control" name="commentText" placeholder="Текст отзыва" required></textarea>
            </div>
            <button class="btn" type="submit">
                Отправить
            </button>
        }
    </section>